/*
Colors:

Text: #1A1A1A
Green: #00B172
White: #FFF

*/

.pText{
    
}

.textGreen{
    color:#1A1A1A;
}

body{
    margin: 0;
    padding: 0;
}

#div1{
    height: 100vh;
}
#nav1{
    height: 10%;
    margin: 15px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
}
#nav1Ul{
    display: flex;
    list-style:none;

}
#nav1Ul li{
 margin: 10px;
}


#div2{
    text-align: center;
}
#div2 h2{
    
    margin-top: 40px;
    
}
#div2Div{
    margin-left: 5em ;
    margin-right: 5em auto ;
    text-align: center;
    display: flex;
    justify-content: space-around;

}


#div3{
    background: #00B172;
    position: relative;

}

#div3Div{
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 3em;
    padding-bottom: 3em;
    color: #FFF;
    
}

#div3Div+div{
    margin: 0;
    padding: 0;
    border: 0;
}

#div3Logo{
    position: absolute;
    top: 40%;
    left: 50%;
    
}

#div3DivSubDiv1 h2{
margin-bottom: 30px;
}

#div3DivSubDiv1 div{
    width: 50%;
    height: 25%;
}