/*
Colors:

Text: #1A1A1A
Green: #00B172
White: #FFF

*/

#div1SubDiv1 h1{
    font-size: 5em;
}


#div1SubDiv1 p{
    width: 45%;
    font-size: 1.2em;
}

.textWhite{
    color:#FFF;
}


.textGreen{
    color:#1A1A1A;
}

body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

#div1{
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    background: #FFF;
    height: 100vh;
}
#nav1{
    position: fixed;
    background: #FFF;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
}
#nav1 img{
    padding-top: 0.5em;
    margin-left: 2em;
}
#nav1Ul{
    display: flex;
    list-style:none;

}
#nav1Ul li{
 margin: 10px;
}

#div1SubDiv1{

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(../images/landing.jpg) no-repeat center;    background-size: cover;
    background-size: cover;
    text-align: center;

    

}


#div2{
    text-align: center;
    padding-bottom: 4em;
}
#div2 > h2{
    margin-top: 40px;
    
}
#div2Div{
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    flex-wrap: wrap;

}
#div2Div div{
    
    width: 15em;

}


#div3{
    background: #00B172;
    position: relative;
    

}

#div3Div{
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 3em;
    padding-bottom: 3em;
    color: #FFF;
    flex-wrap: wrap;
}

#div3Div+div{
    margin: 0;
    padding: 0;
    border: 0;
}

#div3Logo{
    position: absolute;
    top: 40%;
    left: 50%;
    
}

#div3DivSubDiv1 h2{
font-size: xx-large;
}

#div3DivSubDiv1 div{
    width: 50%;
    height: 25%;
}

#div3DivSubDiv1 div h3{
    font-size: x-large;
}

#div3SpotifyApp{
    margin-top: 3em;
}

.h2Span{
    border-bottom: 3px solid ;
    padding: 2px;
}



/*  MEDIA SCREEN  */


@media (min-width: 700px) {


}